* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: auto;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bot-spacing-sm {
  margin-bottom: 30px;
}

.top-spacing {
  margin-top: 7vh !important;
}

.img-text {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px;
}

.img-text__img-container {
  height: 80vh;
  width: 50%;
}

.img-text__img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-text__text-container {
  height: 80vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  text-align: center;
}

.img-text__text-container h3 {
  font-size: 5em;
  font-family: "Sacramento", cursive;
  color: #ffc627;
}

.img-text__text-container p {
  font-size: 1.6em;
}

.img-text__text-container p b {
  font-size: 1em;
}

.section-separator {
  width: 100%;
  height: 40vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../assets/wrenches.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/wrenches.jpg");
  background-attachment: fixed;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-separator div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-separator div svg {
  font-size: 8em;
  color: #fff;
  margin-bottom: 15px;
}

.section-separator div svg:hover {
  color: #ffc627;
}

.section-separator div span {
  font-size: 1.4em;
  font-weight: 600;
  color: #fff;
}

.section-divider {
  width: 100%;
  height: 23vh;
  background: #2e294e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  text-align: center;
}

.section-divider h5 {
  font-size: 3em;
  color: #ffc627;
  font-family: "Sacramento", cursive;
}

.section-divider p {
  max-width: 400px;
  color: #fff;
  font-size: 1.2em;
}

.footer {
  width: 100%;
  height: 35vh;
  background: #2e294e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  text-align: center;
}

.footer .left-section {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .right-section {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .right-section p {
  text-align: left;
  margin: 10px 0px;
}

.footer .right-section p svg,
.footer .right-section p span {
  font-size: 1em;
}

.footer .right-section p span {
  margin-left: 20px;
}

.footer h5 {
  font-size: 3em;
  color: #ffc627;
  font-family: "Sacramento", cursive;
}

.footer p {
  max-width: 400px;
  color: #fff;
  font-size: 1.2em;
}
/*# sourceMappingURL=global.css.map */